#heading {
	height: 50px;
	width: auto;
	margin-right: auto;
	margin-left: auto;
	box-shadow: 10px 10px 5px #888888;
	background-color:#FFFFFF;
}
#heading #innerhead {
	height: 50px;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
}
#heading #innerhead #lefthead {
	background-color: #CC33FF;
	float: left;
	height: 50px;
	width: 200px;
	margin-left: 20px;
	background-image: url(images/logo.jpg);
}
#heading #innerhead #menubar {
	float: right;
	height: 50px;
	width: 400px;
	margin-right: 20px;
	border-radius:10px;
	
}
#mainbody {
	height: 650px;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 80px;
}
#bottom {
	height: 50px;
	width: auto;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
}
#bottom #bmiddle {
	background-color: #999999;
	height: 50px;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	border-radius:10px;
}
#mainbody #upperbody {
	background-color: #999999;
	height: 40px;
	width: 800px;
	margin-right: auto;
	margin-left: auto;
}
#mainbody #bodymiddle {
	height: 340px;
	width: 800px;
	margin-right: auto;
	margin-left: auto;
}
#mainbody #abubodycontent {
	height: 250px;
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 25px;
}
