#heading {
	height: 50px;
	width: auto;
	margin-right: auto;
	margin-left: auto;
	box-shadow: 10px 10px 5px #888888;
	background-color:#FFFFFF;
	opacity:0.9;
}
#heading #innerhead {
	height: 50px;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
}
#heading #innerhead #lefthead {
	background-color: #CC33FF;
	float: left;
	height: 50px;
	width: 200px;
	margin-left: 20px;
	background-image: url(images/logo.jpg);
}
#heading #innerhead #menubar {
	float: right;
	height: 50px;
	width: 400px;
	margin-right: 20px;
	border-radius:10px;
	
}
#mainbody {
	height: 650px;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 80px;
}
#bottom {
	height: 50px;
	width: auto;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
}
#bottom #bmiddle {
	background-color: #FFFFFF;
	height: 50px;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	border-radius:10px;
}
#mainbody #bodytop {
	height: 50px;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	margin-top:20px;
}
#mainbody #bodytop #ios {
	background-color: #FFFFFF;
	height: 50px;
	width: 150px;
	margin-left: 10px;
	border-radius:25px;
	box-shadow:10px 10px 5px #999999;
	background-image: url(images/titleandroid.jpg);
}
#mainbody #ioscontent {
	height: 500px;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;
	border-radius:10px;
	
}
#mainbody #top {
	height: 10px;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
}
#mainbody #ioscontent #andconleft {
	background-color: #CCCCCC;
	float: left;
	height: 500px;
	width: 580px;
	margin-left: 10px;
	opacity:0.5;
	border-radius:10px;
}
#mainbody #ioscontent #andconright {
	background-color: #FFFFFF;
	float: right;
	height: 500px;
	width: 360px;
	margin-right: 0px;
	background-image: url(images/andridapppic.jpg);
}
